<!DOCTYPE html>
<html>

<head>
  <meta charset="utf-8">
  <title></title>
</head>
<body>
  <form class="" action="/" method="post">
    <ul>
        <li>{{output}}</li>
    </ul>
  </form>
</body>

</html>
